*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #cadefc;
}

.dashboard {
    display: grid;
    grid-template-areas:
        "header header"
        "title title"
        "guess-form guess-form"
        "game-statistics game-statistics"
        "words-container words-container"
        "action-container action-container";
    grid-template-rows: 1fr 1fr 1fr auto 1fr 1fr;

    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 15rem;
}

.main-container__title {
    padding: 3rem;
    margin: 0;
    text-align: center;

    background-color: #cca8e9;
    color: #fff;
    font-weight: normal;
}

.main-container__form {
    display: flex;
    flex-direction: column;

    padding: 3rem;

    background-color: #ffffff;
}

.form__field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__title {
    text-align: center;
    color: #9896f1;
}

.form__label {
    margin: 0.5rem;
    padding: 0.5rem;

    font-size: 1.5rem;
}

.form__input {
    margin: 0.5rem;
    padding: 0.5rem;

    font-size: 1rem;
}

.form__button {
    margin: 1rem;
    padding: 0.5rem 3rem;

    font-size: 1.2rem;

    background-color: #9896f1;
    color: #ffffff;
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    margin: 1rem 0rem;
    text-align: center;
}

.header__letter {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    
    font-weight: bold;
    background-color: #cca8e9;
    color: #27296d;
    border: 1px solid #085f63;
}

.header__gap {
    margin: 1rem;
    padding: 1rem;
}

.title {
    grid-area: title;

    padding: 0.5rem;
    
    text-align: center;
    background-color: #c3bef0;
}

.title__text {
    margin: 0;
    margin-top: 0.2rem;

    font-size: 30px;
    color: #27296d;
}

.title__sub-text {
    font-size: 25px;
    color: #27296d;
}

.guess-form {
    grid-area: guess-form;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 4rem 2rem;
    padding: 5rem 0rem;

    text-align: center;
    align-items: center;
    background-color: #defcf9;
    border-radius: 15px;
}

.guess-form__span {
    font-size: 30px;
    color: #a393eb;
}

.guess-form__input {
    padding: 1rem;

    border: 1px solid #085f63;
    font-size: 30px;
}

.guess-form__button {
    padding: 1rem;
    margin-left: 3rem;

    text-align: center;
    font-size: 20px;
    background-color: #cca8e9;
    color: #27296d;
}

.words-container {
    grid-area: words-container;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 1rem 5rem;
}

.available-list {
    grid-area: available-list;
    display: flex;
    flex-direction: column;

    margin: 0.5rem;
    padding: 1rem;
    min-width: 40rem;
    max-width: 60rem;

    border: 1px solid #defcf9;
    border-radius: 15px;
    background-color: #f5c7f7;
}

.available-list__title {
    border-bottom: 1px solid #defcf9;
    text-align: center;
    font-size: 20px;
}

.available-list__container {
    display: flex;
    flex-wrap: wrap;
}

.available-list__words {
    padding: 0.5rem;
    margin: 0.5rem 0.2rem;

    border: 2px solid #cca8e9;
    background-color: #fff;
    color: #27296d;
    font-size: 20px;
}

.guess-list {
    grid-area: guess-list;
    display: flex;
    flex-direction: column;

    margin: 0.5rem;
    padding: 1rem;
    max-width: 60rem;
    min-width: 40rem;

    border: 1px solid #cca8e9;
    border-radius: 15px;
    background-color: #fff;
}

.guess-list__title {
    border-bottom: 1px solid #a393eb;
    text-align: center;
    font-size: 20px;
}

.guess-list__container {
    display: flex;
    flex-wrap: wrap;
}

.guess-list__words {
    padding: 0.5rem;
    margin: 0.5rem 0.2rem;

    border: 2px solid #a393eb;
    background-color: #f5c7f7;
    color: #27296d;
    font-size: 20px;
}

.guess-list__count {
    margin-left: 0.2rem;
    padding-left: 0.5rem;

    border-left: 2px solid #27296d;
}

.game-statistics {
    grid-area: game-statistics;
    text-align: center;
    padding: 0.5rem;

    background-color: #dcd6f7;
    border-top: 1px solid #5e63b6;
    border-bottom: 1px solid #5e63b6;
}

.game-statistics__title {
    font-size: 25px;
    color: #27296d;
}

.game-statistics__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    margin-bottom: 2rem;
    padding: 1rem;

    text-align: center;
}

.container__title {
    margin: 0.5rem;
    padding: 1rem;

    font-size: 20px;
    color: #27296d;
    text-align: center;
}

.container__value {
    display: grid;
    margin: 0.5rem;
    padding: 0.5rem;
    min-width: 15rem;
    max-width: 18rem;
    
    border: 2px solid #a393eb;
    background-color: #fff;
    font-size: 25px;
    color: #c54c82;
}

.action-container {
    grid-area: action-container;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 3rem;

    background-color: #defcf9;
    border-top: 1px solid #5e63b6;
}

.newgame-form__button {
    padding: 1rem;
    margin-left: 3rem;
    
    text-align: center;
    font-size: 25px;
    background-color: #cca8e9;
    color: #27296d;
}

.logout-form__button {
    padding: 1rem;
    margin-left: 3rem;

    text-align: center;
    font-size: 25px;
    background-color: #cca8e9;
    color: #27296d;
}

.alert {
    padding: 2rem;

    text-align: center;
    background-color: #ffffff;
    color: #27296d;
}

.alert-text {
    font-size: 2rem;
}

.login-link {
    display: flex;
    flex-direction: column;

    margin: 5rem;

    border: 2px solid #27296d;
}

.login-link a {
    padding: 2rem 5rem;

    text-align: center;
    font-size: 1.5rem;
    color: #5e63b6;
}